# Variables Supabase (à renseigner pour connecter votre base réelle)
VITE_SUPABASE_URL=https://tfltuyhxzbomnjnxzkki.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmbHR1eWh4emJvbW5qbnh6a2tpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMDY5OTMsImV4cCI6MjEwMjY4Mjk5M30.M3sEp4FvEhJ3J29T1GndPVZWROT8_WToQdIM7DfQiSw
